[Unit]
Description=DayZ Dedicated Server
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Service]
ExecStartPre=/home/dayzserver/servers/dayz-server/update.sh
ExecStart=/home/dayzserver/servers/dayz-server/DayZServer -config=serverDZ.cfg -port=2301 "-mod=1559212036;1564026768;" -BEpath=battleye -profiles=profiles -dologs -adminlog -netlog -freezecheck
WorkingDirectory=/home/dayzserver/servers/dayz-server/
LimitNOFILE=100000
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s INT $MAINPID
User=dayzserver
Group=users
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

