[Unit]
Description=CineMediaVault thumbnail generation schedule

[Timer]
OnBootSec=45min
OnCalendar=*-*-* 05:20:00
AccuracySec=10min
Persistent=true
RandomizedDelaySec=600
Unit=cinemediavault-thumbnails.service

[Install]
WantedBy=timers.target
